@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

$bold: 'Russo One', sans-serif;
$thin: 'Roboto Flex', sans-serif; 

$blue: #254E6B;
$dark-blue: #1C3151;
$sea-blue: #2F5B7A;
$button-color: #18354A;
$white: #fff;
$pale-white: #dedede;
$pale-blue: #5591BC;

.bold-text {
    font-family: $bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    
}

.thin-text {
    font-family: $thin;
    font-weight: 500;
    font-size: 24px;
    
    font-size: 1.5em;
}

.title {
    color: $blue;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2em;
}

.text {
    
    margin-bottom: 5rem;
}

.btn {
    width: 280px;
    height: 60px;
    border-radius: 22px;
    border: none;
    background-color: $button-color;
    color: $white;
    text-transform: uppercase;
    font-family: $bold;
    letter-spacing: 0.1em;
    margin: 20px;
        &:hover {
        cursor: pointer;
    }
}

.boat {
    width: 400px;
    margin-bottom: 3rem;
    color: $white;
    
}

.boat-img {
    width: 400px;
    height: 300px;
    border-radius: 22px;
    display: flex;
    margin-bottom: 2rem;
}