.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../design/images/background-wave.svg");
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 6rem;
    margin-bottom: 5rem;

    .home__img {
        width: 30%;
        margin-right: 7rem;
        margin-top: 10rem;
    }

    .home-text {
        width: 40%;
        margin-top: 20rem;
        color: $white;
        margin-bottom: 8rem;
    }

    .home-text__header {
            margin-bottom: 4rem;
        }
}

.description {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-content: center;
    font-weight: 500;
    margin-bottom: 8rem;
    

    .description__text {
        margin-bottom: 4rem;
        width: 60%;
        color: $blue;
        
    }
}

.catalog-mini {
    display: flex;
    background-color: $blue;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
    text-align: center;
    .catalog-mini__header {
        width: 100%;
        color: $white;
        letter-spacing: 0.2em;
        font-size: 1.8rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }

    .catalog-mini-btn {
        margin: auto;
        width: 100%;
        margin-bottom: 7rem;
        margin-top: 2rem;
    }

    .fish-image {
        width: 15%;
    }
}





