.news {
    display: flex;
   flex-flow: column wrap;




}



.news-block {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: flex-start;
    
    & h2, a {
        color: $dark-blue;
        text-decoration: none;
    }
}

.news-text {
    margin-left: 5rem;
    padding-right: 2rem;
    color: $blue;
    width: 60%;
    
}

.news-btn {
    margin-left: auto;
    margin-right: 15rem;
}